.header-image {
    background-image: url(../images/header.jpg);
}

.navbar {
    background: #ffffff00 !important;
}

.footer-image {
    background-image: url(../images/encuentra.jpg);
    color: white;
}