.site-header.inicio {
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    min-height: 30rem;

}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* espacio de textos */
.space {
    padding: 4rem;
}
.space-section {
    padding: 1.2rem;
}
.space-h {
    background-color: transparent!important;
    padding: 0 0 20px!important;
}

.text-form {
    font-size: 2rem !important;
}

/* Título de Index */

.home-titulo {
    text-shadow: 5px 5px 10px rgba(0,0,0,.2);
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin: 17px 0 32px;
}

/* Título de section */
.title-home {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);
}

.color-white {
    color: white;
}

/* Menu */
.navbar {
    background: #ffffff00 !important;
}

/* Color background-contigo */
.background-contigo {
    margin-top: 32px;
    /*margin-bottom: 32px;*/
    background-position: left 10px bottom 10px;
    background-repeat: no-repeat;
    background-color: #f3f7f8;
    background-size: contain;
}

.encuentra-imagen {
    background-image: url(../images/encuentra.jpg);
    color: white;
}

.jujdoP {
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    top: 29px;
}

.cNAIQu {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 290px;
    height: 133px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
    margin-right: 40px;
}
.cNAIPR {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 290px;
    height: 133px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
    margin-right: 40px;
}

.hGbWyz {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 290px;
    height: 133px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
    margin-right: 0px;
}
.kmlTsZ {
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: 2px;
    padding: 12px;
}

.ezyESP {
    background-image: url(../images/home-te-acompanamos1.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    top: -25px;
}


.hEBjrP {
    background-image: url(../images/home-te-acompanamos2.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    top: -25px;
}
.gLaPwC {
    background-image: url(../images/home-te-acompanamos3.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    top: -25px;
}
.ljKntD {
    background-image: url(../images/home-te-acompanamos4.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    top: -25px;
}

.sc-kYxDKI {
    position: absolute;
    top: -38px;
}
.sc-eyvILC.gEtyQd {
    padding: 0 12px 12px 12px;
}

/* footer */
.footer {
    background-color: #f3f7f8;
}

/* Redes Sociales */
.redes-sociales ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    list-style: none;
    margin: 0px;
    max-width: 12rem;
    padding: 0px;
}
.redes-sociales li {
    display: inline; 
}
.redes-sociales ul li a {
    text-decoration: none;
}

.redes-sociales ul li a:hover {
    color: #4478c737;
}

/* Menu Footer */
.menu-footer ul {
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    margin: 0px;
    max-width: 12rem;
    padding: 0px;
}
.menu-footer ul li a {
    text-decoration: none;
    color: #716d6d;
    font-weight: bold;
}
.menu-footer ul li a:hover {
    text-decoration: none;
    color: #979595;
    font-weight: bold;
}
.instagram {
    color: #fc19ac !important;
}

.youtube {
    color: red;
}

.facebook {
    color: #0a66ff;
}

.linkdin {
    color: #0b66c2;
}