.site-header.inicio {
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    min-height: 30rem;

}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.space {
    padding: 4rem;
}
.text-form {
    font-size: 2rem !important;
}

/* Título de Index */
.home-titulo {
    text-shadow: 5px 5px 10px rgba(0,0,0,.2);
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin: 17px 0 32px;
}


/* Menu */
.navbar {
    background: #ffffff00 !important;
}

.footer-image {
    background-image: url(../images/encuentra.jpg);
    color: white;
}